{% extends 'web_lib/main.html' %}

{% block content %}
    <div class="container card card-block">
        <h1>Books</h1>
        <a class="btn btn-primary btn-sn btn-block" href={% url 'create_book' %}>Добавить книгу</a>

        {% if books %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">PK</th>
                        <th scope="col">Название</th>
                        <th scope="col">Описание</th>
                        <th scope="col">Страниц</th>
                        <th scope="col">Автор</th>
                        <th scope="col">Опубликована</th>
                        <th scope="col">Изменить</th>
                        <th scope="col">Удалить</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                        <tr>
                            <th scope="row">
                                <a href="">{{ book.pk }}</a>
                            </th>
                                <td>{{ book.title }}</td>
                                <td>{{ book.description }}</td>
                                <td>{{ book.page_num }}</td>
                                <td>{{ book.author }}</td>
                                <td>{{ book.published|date:'d. m. Y' }}</td>
                                <td><a class="btn btn-sn btn-info" href={% url 'update_book' book.pk %}>Изменить</a></td>
                                <td><a class="btn btn-sn btn-danger" href={% url 'delete_book' book.pk %}>Удалить</a></td>
                            </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Нет книг</p>
        {% endif %}
    </div>
{% endblock %}