{%  extends 'admin/change_form.html' %}

{% block content %}
    {{ block.super }}
    {% block result_list %}
        {% if books %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Page Number</th>
                    </tr>
                </thead>
                <tbody>
                        {% for book in books %}
                            <tr>
                                <th scope="row">
                                    <a href={% url 'admin:web_lib_book_change' book.pk %}>{{ forloop.counter }}</a>
                                </th>
                                <td><a href={% url 'admin:web_lib_book_change' book.pk %}>{{ book.title }}</a></td>
                                <td>{{ book.description }}</td>
                                <td>{{ book.page_num }}</td>
                            </tr>
                        {% endfor %}
                </tbody>
            </table>
        {% else %}
                    <p>No books</p>
        {% endif %}
    {% endblock %}
{% endblock %}